:root {
    --base-color: white;
    --base-variant: #d1d5e2;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #868fa8;
    --accent-color: #0071ff;
}
.darkmode{
    --base-color: #070b1d;
    --base-variant: #616175;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color:  #868fa8;
    --accent-color: #0071ff;
}
* {
    padding: 0;
    margin: 0;
}
html {
    font-family: Poppins;
}
body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
}
.navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background: var(--base-color);
    box-shadow: 0 2px 0 rgba(20, 5, 5, 0.438);
    padding: 10px 20px;
}
.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-right: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
}
.side-components {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}   
#theme-switch svg{
    fill: var(--primary-color);
}
#theme-switch svg:last-child{
 display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}