/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* root color for light and dark mode */
:root {
    --base-color: white;
    --base-variant: #d1d5e2;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #868fa8;
    --accent-color: #0071ff;
}
/* .darkmode{
    --base-color: #070b1d;
    --base-variant: #616175;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color:  #868fa8;
    --accent-color: #0071ff;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



                    /* Navbar / Header Design */
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    width: 100%;
}
.navbar{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    background: var(--base-color);
}
.navbar .nav-logo .logo-text {
    font-weight: 900;
    color: var(--text-color);
}
.navbar .nav-right {
    display: flex;
    gap: 50px;
    margin-right: 30px;
}
.navbar .nav-menu{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navbar .nav-menu .nav-list{
    list-style: none;
    color: black;
}
.navbar .nav-menu .nav-list .nav-link{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease;
}
.navbar .nav-menu .nav-list .nav-link:hover{
    color: yellow;
    text-decoration: none;
}
.navbar .theme-switch {
    border-style: none;
    background: none;
    border: nones;
}

    


                    /* hero section design */

.hero-section {
    display: flex;
    padding: 80px;
    align-items: center;
    justify-content: space-evenly;
}
.hero-section .description{
    font-size: 24px;
    font-weight: 400;
}
.hero-section .tech {
    font-weight: 700;
}
.hero-section .stack-icons{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.hero-section .stack-icons img{
    width: 30px;
}
.hero-section .hero-image .portfolio-image{
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
}


                            /* about section design */
.about-section{
    display: flex;
    padding: 20rem 10rem;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
}
.about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    align-items: center;
}
.about-content img {
    width: 600px;
    border-radius: 10px;
}